[submodule "media/slides/spark-training"]
	path = media/slides/spark-training
	url = https://github.com/casperkoning/spark-training
[submodule "media/slides/kafka-connect-presentation"]
	path = media/slides/kafka-connect-presentation
	url = https://github.com/casperkoning/kafka-connect-presentation
[submodule "media/slides/devoops-presentation"]
	path = media/slides/devoops-presentation
	url = https://github.com/CasperKoning/devoops-presentation
