<style>
* {
  margin: 0;
  padding: 0;
  background-color: #0b2706;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
</style>
<div class="imgbox">
  <img src="{{img}}" class="center-fit">
</div>
